body {
	font-family: 'Palanquin Dark', sans-serif;
	font-family: 'Palanquin', sans-serif;
	margin: 0px;
	height: 100%;
	width: 100%;
	position: fixed;
}

#background-box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	z-index: -1;
}

#background-img {
	position: absolute;
	width: 130%;
	z-index: -2;
	bottom: -250px;
}

#background-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: black;
	opacity: 0.6;
	z-index: -1;
}

.nav {
	width: 200px;
	height: 100%;
	z-index: 10;
	transform: translateX(-280px);
	transition: all 0.3s;
	/*background-color: black;*/
	position: absolute;
}

.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 70px;
	font-family: 'Palanquin', sans-serif;
}

.nav li {
	margin-top: 10px;
	margin-left: 15px;
}

#sidebar-button {
	position: fixed;
	z-index: 100;
	left: 15px;
	top: 15px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.sidebar-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 10px;
}

.sidebar-active {
	transform: translateX(0px);
}

/*#map-box {
	width: 700px;
	position: absolute;
	top: 25%;
	left: 75%;
	z-index: 1;
	transform: translateY(-50%) translateX(-50%);
}

#map {
	position: absolute;
	width: 100%;
	text-shadow: 0px 2px 20px black;
}*/

#about-box {
	position: absolute;
	width: 500px;
	top: 50%;
	left: 30%;
	transform: translateY(-50%) translateX(-50%);
	color: white;
	z-index: 1;
	text-align: center;
/*	background-color: rgba(0,0,0,0.5);*/
	padding: 5px 30px 30px;
	display: none;

}

#sub-title {
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 60px;
	margin-bottom: -5px;
	text-shadow: 0px 2px 20px black;
	display: inline-block;
}

#sub-title-words {
	font-family: 'Palanquin', sans-serif;
	font-size: 18px;
}

#sidebar-button {
	position: fixed;
	z-index: 100;
	left: 15px;
	top: 15px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.sidebar-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 10px;
}


a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #FF7D40;
}

a:active {
	color: #cc6433;
}

#nav-toggle { 
	position: absolute; 
	left: 50%; top: 50%; 
}

#nav-toggle {
	padding: 10px 30px 15px 0px; 
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	height: 3px;
	width: 30px;
	background: #fff;
	position: absolute;
	display: block;
	content: '';
}

#nav-toggle span:before {
	top: -10px; 
}

#nav-toggle span:after {
	bottom: -10px;
}

.sidebar-active {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}

#cry {
	color: white;
	font-size: 200px;
}