
body {
	font-family: 'Palanquin Dark', sans-serif;
	font-family: 'Palanquin', sans-serif;
	margin: 0px;
	position: fixed;
	height: 100%;
	width: 100%;
}

a {
	color: white;
	text-decoration: none;
}

#background-box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
}

#background-img {
	position: absolute;
	width: 110%;
	z-index: -1;
	bottom: -90px;
}

#background-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: black;
	opacity: 0.6;
}

#title-box {
	position: absolute;
	width: 500px;
	top: 45%;
	left: 65%;
	transform: translateY(-50%) translateX(-50%);
	color: white;
	z-index: 1;
	text-align: center;
	height: 250px;
}

#title {
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 72px;
	margin-bottom: -25px;
	text-shadow: 0px 2px 20px black;
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
}

#title-additional {
	font-family: 'Palanquin', sans-serif;
	font-size: 18px;
	text-shadow: 0px 2px 20px black;
	position: relative;
	top: 100px;
}

#title-additional #italic {
	font-style: italic;
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#norm {
	position: relative;
	top: 30px;
}

#nav {
	position: absolute;
	left: 65%;
	transform: translateY(-50%) translateX(-50%);
	z-index: 1;
	top: 68%;
	display: none;
}

.nav-stuff {
	display: inline-block;
	color: white;
	margin: 20px;
	font-size: 17px;
}

a:hover {
	color: #FF7D40;
	text-decoration: underline;
}

a:active {
	color: #cc6433;
}



/*#background-box {
	position: fixed;
	width: 100%;
	top: 0px;
	overflow: hidden;
}

#title-box {
	position: absolute;
	left: 800px;
	color: white;
	top: 300px;
	z-index: 5;
	border: 1px solid black;
}

#title {
	font-family: 'Palanquin Dark', sans-serif;
	font-size: 100px;
	position: relative;
}

#title-additional {
	font-family: 'Palanquin', sans-serif;
	font-size: 30px;
	position: relative;
}

#background-img {
	position: absolute;
	z-index: -1;
}*/


/*#title {
	font-family: 'Palanquin Dark', sans-serif;
	z-index: 5;
	font-size: 120px;
	position: absolute;
	color: white;
	left: 45%;
	top: 70%;
	transform: translateY(-50%);
}

#title-additional {
	font-family: 'Palanquin', sans-serif;
	z-index: 01120;
	font-size: 20px;
	position: absolute;
	color: white;
	left: 38%;
	top: 62%;
	transform: translateY(-50%);
	font-style: italic;
}

.background-img {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

#main-pic {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    filter: brightness(80%);
}

#sidebar-button {
	position: fixed;
	z-index: 100;
	left: 15px;
	top: 15px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
} 

.sidebar-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 10px;
}
.penguins {
	width: 100%;
}*/