.social-container a {
	border-bottom: none;
    display: inline-block;
    text-decoration: none;
}

.social-container img {
    transition: 100ms;
    width: 20px;
    filter: grayscale(100%);
}

.social-container h2 {
    font-size: 13px;
    margin-top: 5px;
}

/*Add Experience*/

.footer {
	font-family: 'PT Serif', serif;
	font-size: 15px;
	opacity: 0.6;
	letter-spacing: 0.5px;
	margin-top: 30px;
}

/*.hiddensecret {
	display: none;
}

.hiddensecret:hover {
	display: block;
}*/
